.movie {
    background-color: var(--lightblue-color);
    border-radius: 3px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    color: var(--white-color);
    font-family: "Poppins", sans-serif;
    overflow: hidden;
    width: 300px;
    margin: 1rem;
    position: relative;
}

.movie:hover .movie-over {
    transform: translateY(0%);
}

.movie img {
    width: 100%;
    object-fit: cover;
    height: 430px;
}

.movie-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.movie-info h3 {
    margin: 0;
}

.movie-over {
    background-color: var(--white-color);
    color: var(--darkblue-color);
    font-size: 0.9rem;
    padding: 0.8rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    transform: translateY(102%);
    transition: transform 0.8s ease-in-out;
}

.tag {
    background-color: var(--darkblue-color);
    border-radius: 5px;
    padding: 0.5rem;
    font-weight: bold;
}

.tag.green {
    color: var(--green-color);
}

.tag.orange {
    color: var(--orange-color);
}

.tag.red {
    color: var(--red-color);
}